@charset "utf-8";
.box{
	background-color: #F0F0F0;
	overflow: hidden;	
}
	.top{
		margin-bottom: 0.5rem;
	}
		.top .t1{
			height: 2.25rem;
			width: 100%;
			background-color: rgba(0,0,0,.5);
			z-index: 999;
			position: absolute;
			left: 0;
			top: 0;

		}
			.t1 .tp1{
				width: 1rem;
				height: 1.45rem;
				font-size: 0.8rem;
				color: #fff;
				margin: 0.375rem 0.65rem 0 0.5rem;
			}
				.tp1 a{
					font-size: 0.5rem;
					color: #fff;
				}
			.t1 .text{
				width: 10.525rem;
				height: 1.5rem;
				border-radius: 5px;
				background-color: #fff;
				margin-top: 0.375rem;
				margin-right: 0.8rem;
				font-size: 0.7rem;
				color: #999999;
				padding-left: 0.55rem;
				line-height: 1.5rem;
			}
			.t1 .tp2{
				font-size: 0.7rem;
				color: #999999;
				margin-left: -1.975rem;
				margin-top: 0.7rem;
			}
			.t1 .tp3{
				margin: 0.6rem 0.8rem 0 0;
				color: #fff;
				font-size:1.05rem;
			}
			.banner{
				height: 7.125rem;
				z-index: 1;
				margin-top: 0;
				overflow: hidden;	
				position: relative;
			}
				.o{

					height: 0.3rem;
					width: 3.3rem;
					position: absolute;
					right: 0.675rem;
					bottom: 0.3rem;
					z-index: 3;
				}
				.o li{
					width: 0.25rem;
					height: 0.25rem;
					border-radius: 50%;
					border:2px solid #fff;
					margin-right: 0.15rem;
					float: left;
				}
					.o li:hover{

						background-color: #fff;
					}
				.li1{
					height: 7.125rem;
				}

				.banner img{
					height: 7.125rem;
					z-index: 1;
					float: left;
				}
				.banner ul{
						width: 600%;
						height: 100%;
						position: absolute;
						left: 0;
						bottom: 0;
				}
	.ct1{
		height: 7rem;
		padding-bottom: 0.5rem;
		background-color: #fff;
		margin: 0 0.25rem 0.5rem 0.25rem;
		box-shadow: 0 1px 1px #999;
	}
		.ct1 .nav1{
			padding: 0.45rem 0.825rem 0.45rem 0.9rem;
		}
			.ct1 .nav1 div{
				width: 2.5rem;
				height: 3.3rem;
				margin-right: 1.25rem;
				margin-bottom: 0.25rem;
				float: left;
			}
				.nav1 div img{
					width: 2rem;
					height: 2rem;
					margin-bottom: 0.25rem;
				}
				.nav1 p{
					line-height: 0.5rem;
					font-size: 0.5rem;
					

				}
		.ct2{
			height:10.075rem;
			background-color: #fff;
			margin: 0 0.25rem 0.5rem 0.25rem;
			box-shadow: 0 1px 1px #999;
			position: relative;
		}
			.ct2 .nav2{
				height: 1.6rem;
				border-bottom: 1px solid #999;
			}
				.nav2 span{
					width: 0.15rem;
					height: 0.6rem;
					margin-left: 0.35rem;
					margin-top: 0.45rem;
					float: left;
					background-color: #2A89DE;
					display: inline-block;
				}
				.nav2 p{
					margin-left: 0.5rem;
					line-height: 1.6rem;
					color: #666666;
					float: left;
					font-size: 0.65rem;
				}
			.ct2 .nav3{
				width: 7.675rem;
				height: 8.375rem;
				border-right: 1px solid #999;
				z-index: 999;
				position: relative;
			}
				.ct2 .nav3 p{
					font-size: 0.55rem;
					padding-top: 1.2rem;
					margin-left: 0.975rem;
				}
				.ct2 .nav3 span{
					font-size: 0.6rem;
					margin-left: 0.975rem;
					margin-top: 0.425rem;
					color: #FF4000;
				}
				.ct2 .nav3 img{
					margin-top: 0.5rem;
					margin-left: 1.175rem;
					width: 5.875rem;
					height: 4.1rem;
				}
			.ct2 .nav4{
				width: 7.7rem;
				height: 4.2rem;
				border-bottom:1px solid #999;
				position: relative;
				z-index: 999;
			}
				.ct2 .nav4 .np1{
					font-size: 0.55rem;
					padding-top: 0.625rem;
					margin-left: 0.4rem;
					display: inline-block;
				}
				.ct2 .nav4 .np11{
					font-size: 0.55rem;
					margin-top: 0.15rem;
					margin-left: 0.6rem;
					display: inline-block;
				}
				.ct2 .nav4 .ns1{
					font-size: 0.5rem;
					margin-top: 0.3rem;
					margin-left: 0.5rem;
					color: #FF4000;
				}
				.ct2 .nav4 .img1{
					margin-top: 0.5rem;
					width: 3.225rem;
					height: 3.65rem;
					margin-right: 0.2rem;
				}
				.ct2 .nav4 .np2{
					font-size: 0.55rem;
					padding-top: 0.625rem;
					margin-right: 0.4rem;
					display: inline-block;
				}
				.ct2 .nav4 .np21{
					font-size: 0.55rem;
					margin-top: 0.15rem;
					margin-right: 0.6rem;
					display: inline-block;
				}
				.ct2 .nav4 .ns2{
					font-size: 0.5rem;
					margin-top: 0.3rem;
					margin-right: 0.8rem;
					color: #FF4000;
				}
				.ct2 .nav4 .img2{
					margin-top: 0.5rem;
					width: 3.225rem;
					height: 3.65rem;
					margin-left: 0.2rem;
				}
			.ct2 .nav5{
				width: 7.675rem;
				height: 8.375rem;
				border-left: 1px solid #999;
			}
				.ct2 .nav5 p{
					font-size: 0.55rem;
					padding-top: 0.9rem;
					margin-left: 0.975rem;
				}
				.ct2 .nav5 span{
					font-size: 0.6rem;
					margin-left: 0.975rem;
					margin-top: 0.425rem;
					color: #FF4000;
				}
				.ct2 .nav5 .img3{
					width: 4.6rem;
					height: 5.5rem;
					margin-right: 0.35rem;
				}
				.ct2 .nav4 .img4{
					margin-top: 0.475rem;
					width: 3.275rem;
					height: 3.275rem;
					margin-right: 0.475rem;
				}
				.ct2 .nav4 .img5{
					margin-top: 0.25rem;
					width: 1.925rem;
					height: 3.8rem;
					margin-left: 0.625rem;
				}
				.ct2 .nav4 .np3{
					font-size: 0.55rem;
					padding-top: 0.625rem;
					margin-right: 0.2rem;
					display: inline-block;
				}
				.ct2 .nav3 .img1{
					width: 4.7rem;
					height:5.1rem;
					position: absolute;
					right: 0.275rem;
					bottom: 0.098rem;
				}
				.ct2 .nav4 .img6{
					margin-top: -0.4rem;
					width: 3.7rem;
					height: 3.1rem;
				}
				.ct2 .nav4 .img7{
					margin-top: 0.1rem;
					width:2.7rem;
					height: 3.925rem;
					margin-left: 1.125rem;
				}
				.ct2 .nav4 .np4{
					font-size: 0.55rem;
					position: absolute;
					top: 0.625rem;
					right:1.5rem;
					display: inline-block;
				}
				.ct2 .nav4 .np41{
					font-size: 0.55rem;
					position: absolute;
					top: 1.7rem;
					right:0.75rem;
					display: inline-block;
				}
				.ct2 .nav4 .ns3{
					font-size: 0.5rem;
					position: absolute;
					bottom:1.05rem;
					right: 2.4rem;
					color: #FF4000;
				}
			.ct2 .nav6{
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
				background-color: #fff;
				border:1px solid #999;
				position: absolute;
				left: 0.475rem;
				bottom:-0.625rem;
				z-index: 999;
			}
				.ct2 .nav6 .nav61{
					width: 1.7rem;
					height: 1.7rem;
					border-radius: 50%;
					margin:0.15rem;
					background-color: #2A8ADE;
					position: relative;
				}
					.ct2 .nav61 p{
						font-size: 0.85rem;
						color: #fff;
						position: absolute;
						left: 0.4rem;
						top: 0.4rem;
					}
			/*.ct2 .nav7{
				width: 100%;
				height: 1.7rem;
				background-color: #fff;
				position: absolute;
				bottom: -0.725rem;
				left: 0;
			}*/
		.ci{
			margin-left: 0.25rem;
			margin-right: 0.25rem;
			height: 2.5rem;
			margin-bottom: 0.5rem;
		}
			.ci img{
				height: 2.5rem;
				width: 100%;
			}
		.ct3{
			height: 0.675rem;
			margin: 0 0.25rem 0.5rem 0.25rem;
		}
			.ct3 p{
				font-size: 0.3rem;
				margin-top: 0.425rem;
			}
				.ct3 p a{
					color: #2A8BE0;
				}
				.ct3 p span{
					color: #C8C8C8;
				}
			.ct3 .a1{
				font-size: 0.3rem;
				margin-top: 0.425rem;
				color: #2A8BE0;
				padding-right: 0.5rem;
				background: url(../image/yi21.png) no-repeat right center;
			}
		.btm{
			height: 2.975rem;
			margin-top: 0.375rem;
		}
			.btm .btm1{
				height: 1.075rem;
				background-color: #1771D2;
			}
				.btm .btm1 p{
					font-size: 0.3rem;
					color: #fff;
					line-height: 1.075rem;
					text-align: center;
				}
			.btm .btm2{
				height: 1.075rem;
				background-color: #2A8ADE;
			}
				.btm .btm2 p{
					font-size: 0.3rem;
					color: #BFEEFF;
					line-height: 1.075rem;
					text-align: center;
				}
					 .btm .btm2 .bp1{
						background: url(../image/yi22.png) no-repeat left center;
						padding-left: 1.4rem;
						margin-left: 2.7rem;
					}
					.btm .btm2 .bp2{
						background: url(../image/yi23.png) no-repeat left center;
						padding-left: 1.4rem;
						margin-left: 0.7rem;
					}
					.btm .btm2 .bp3{
						background: url(../image/yi24.png) no-repeat left center;
						padding-left: 1.4rem;
						margin-left: 0.7rem;
					}
			.btm .btm3{
				height: 0.825rem;
				background-color: #1771D2;
			}
				.btm .btm3 p{
					font-size: 0.3rem;
					color: #fff;
					line-height: 0.825rem;
					text-align: center;
				}